h1, h2, h3, h4, h5, h6, strong {
	font-family: 'Cabin';
}
p {
	font-family: 'Roboto';
}
#sect-nav {
	box-shadow: 0px 0px 10px 0px;
}
#CarHeader {
	display: none;
}
#sect-carousel, #CarHeader .carousel-item {
	height: 100vh;
}
#CarHeader img {
	height: 100%;
	object-fit: cover;
}
.carousel-control-prev, 
.carousel-control-next {
	width: 70px;
}
.carousel-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background:rgba(33,33,33,0.75);
	padding-top: 40vh;
}
.carousel-overlay h1 {
	font-family: 'Russo One';
	font-size: 64px;
	text-shadow: 0px 5px 10px #000;
}
.carousel-overlay hr {
	display: inline-block;
	width: 100px;
	height: 3px;
	background: #33A1EA;
}
.carousel-overlay p {
	font-family: 'Cabin';
	font-weight: 500;
	font-size: 20px;
	font-style: italic;
	max-width: 700px;
	display: inline-block;
}
.parallax-window {
	background: transparent;
	background: rgba(33,33,33,0.5);
}

hr.short {
	background: #33A1EA;
	width: 60px;
	height: 3px;
}

.card {
	overflow: hidden;
}
.card svg {
	width: 40px;
	height: 40px;
	color: #33A1EA;
	margin: 20px auto 0;
}
.card-image-top {
	object-fit: cover;
}
.card-hover {
	transition: all 200ms cubic-bezier(0,0,0.3,1);
}
.card-hover:hover {
	transform: scale(1.05) skewY(2.5deg) translateY(8px);
	box-shadow: 6px 0px 15px -3px;
	cursor: pointer;
}

.card-smbg {
	width: 600px;
	margin: 10px auto;
	border: 1px solid #ddd;
	overflow: auto;
	border-radius: 50px 6px 6px 50px;
	box-shadow: 0px 0px 10px -5px;
	overflow: hidden;
}
.card-smbg-img {
	position: relative;
	float: left;
	height: 100px;
	width: 100px;
	padding: 25px;
	background-color: #33A1EA;
	border: 3px solid #33A1EA;
	border-radius: 50%;
	transition: background 0.15s;
}
.card-smbg-img > svg {
	height: 100%;
	color: #fff;
}
.card-smbg-img > span {
	position: absolute;
	top: 50%;
	transform: translateY(-50%) rotate(0deg);
	left: 0;
	right: 0;
	font-size: 0;
	font-weight: bold;
	text-align: center;
	color: #33A1EA;
	transition: all 0.2s;
}
.card-smbg-text {
	height: 100px;
	display: table-cell;
	vertical-align: middle;
}
.card-smbg-text > * {
	margin: 0 20px;
	vertical-align: middle;
}
.card-smbg:hover {
	cursor: pointer;
}
.card-smbg:hover .card-smbg-img {
	background: #fff;
}
.card-smbg:hover span {
	font-size: 48px;
	transform: translateY(-50%) rotate(360deg);
}

[class*="fade-"] {
	opacity: 0;
}
.fade-up {
	top: 5vh;
}

@media only screen and (min-width: 600px) {
.carousel-overlay h1 { font-size: 94px }
.carousel-overlay p { font-size: 26px }
}

@media only screen and (max-width: 600px) {
.card-smbg { width: 100% }
}