<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %} | AUS Decking</title>

	<!-- Preloads -->
	<link rel="preload" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&family=Cabin:wght@400;500;700&family=Russo+One&display=swap" as="style">
	<link rel="preload" href="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous" as="script">
	<link rel="preload" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous" as="script">

	<!-- Styles -->
	<link rel="icon" type="image/png" href="{{ static('img/logo-crown.png') }}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&family=Cabin:wght@400;500;700&family=Russo+One&display=swap" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="{{ static('css/parallax-card.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ static('css/style.css') }}">
	
</head>
<body>

{% set aus_blue_hex = "#2767B1" %}

<nav id="sect-nav" class="navbar fixed-top navbar-light bg-white navbar-expand-md py-2">
	<a class="navbar-brand" href="#">
		<img class="mr-2" src="{{ static('img/logo-king.png') }}" width="60">
		<div class="navbar-brand-text mt-1">
			<span class="navbar-brand-h1 text-dark">AUS Decking</span>
			<span class="navbar-brand-h2 text-muted">CA: 845255 | NV: 0072164</span>
		</div>
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#NavbarMain" aria-controls="NavbarMain" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="NavbarMain">
		<ul class="navbar-nav m-auto">
			<li class="nav-item">
				<a class="nav-link" href="{{ url('index') }}">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ url('about_us') }}">About Us</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
				<div class="dropdown-menu" aria-labelledby="dropdown05">
					<a class="dropdown-item" href="{{ url('srv_concrete') }}">Gypsum Concrete</a>
					<a class="dropdown-item" href="{{ url('srv_sound') }}">Sound Control</a>
					<a class="dropdown-item" href="{{ url('srv_topping') }}">Concrete Topping</a>
					<a class="dropdown-item" href="{{ url('srv_finish') }}">Specialty Finishes</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ url('projects') }}">Projects</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ url('contact_us') }}">Contact Us</a>
			</li>
		</ul>
		<div class="ml-4 px-3 py-1 text-center" style="background:#d6ecfa;border-radius:5px;">
			<svg width="1.6em" height="2em" viewBox="0 0 16 16" class="bi bi-telephone-fill" fill="{{ aus_blue_hex }}" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M2.267.98a1.636 1.636 0 0 1 2.448.152l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.47 17.47 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969z"/></svg>
			<a class="my-2 text-dark lead" href="#" style="vertical-align:top"><b>Get a Quote</b></a>
		</div>
	</div>
</nav>

{% block body %}
{% endblock %}

<!-- CONTACT FORM -->
<section id="sect-contact" class="bg-light py-5">
	<div class="container mx-auto" style="max-width:800px">

		<h1 class="mb-4 text-center">Request a <span class="text-primary">Quote</span></h1>
		<p class="text-center">Tell us the details of your project, and our estimators will get back to you within 24 hours.</p>

		<form method="post" action="#">
			<div class="form-row">
				<div class="form-group col-sm-6">
					<label class="sr-only" for="contactform-fn">First Name</label>
					<input type="text" class="form-control" id="contactform-fn" name="name" placeholder="First Name" required>
					<div class="invalid-feedback">Please provide a valid first name</div>
				</div>
				<div class="form-group col-sm-6">
					<label class="sr-only" for="contactform-ln">Last Name</label>
					<input type="text" class="form-control" id="contactform-ln" name="last-name" placeholder="Last Name" required>
					<div class="invalid-feedback">Please provide a valid last name</div>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-sm-6">
					<label class="sr-only" for="contactform-pn">Phone</label>
					<input type="text" class="form-control" id="contactform-pn" name="phone" placeholder="Phone" required>
					<div class="invalid-feedback">Please provide a valid phone number</div>
				</div>
				<div class="form-group col-sm-6">
					<label class="sr-only" for="contactform-em">E-mail</label>
					<input type="text" class="form-control" id="contactform-em" name="email" placeholder="E-mail" required>
					<div class="invalid-feedback">Please provide a valid email address</div>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-sm-12">
					<label class="sr-only" for="contactform-mg">Message</label>
					<textarea class="form-control" id="contactform-mg" name="message" placeholder="Message" rows="5" required></textarea>
					<div class="invalid-feedback">Please provide a valid message</div>
				</div>
			</div>
			<button class="btn btn-primary">Send</button>
		</form>

	</div>
</section>


<!-- PARTNERS -->
<section id="sect-partners" class="bg-white py-5">
	<div class="container">
		<h1 class="mb-4 text-center">Our <span class="text-primary">Partners</span></h1>
		<p class="text-center text-synopsis mb-3">Partnered with innovative manufacturers, AUS can offer mutually beneficial, packaged scopes of work to help residential and commercial customers transform their projects.</p>
		<div class="row">

			<div class="col-md-4 my-3 fade-up">
				<div class="card h-100 text-center">
					<div class="card-body">
						<img class="img-fluid py-3" src="{{ static('img/part_maxxon.png') }}" width="220">
						<!-- <h5 class="card-title">Maxxon, Inc.</h5> -->
						<hr class="short">
						<p class="card-text">Since the development of Gyp-Crete in 1972, Maxxon Corp has provided superior underlayment products for any floor application. Maxxon continues to lead the industry with quality products and expert installation by a network of authorized dealers throughout North America.</p>
					</div>
				</div>
			</div>

			<div class="col-md-4 my-3 fade-up">
				<div class="card h-100 text-center">
					<div class="card-body">
						<img class="img-fluid py-3" src="{{ static('img/part_plidek.png') }}" width="220">
						<!-- <h5 class="card-title">Pli-Dek Systems, Inc.</h5> -->
						<hr class="short">
						<p class="card-text">Pli-Dek, Inc. manufactures a wide variety of specialty coatings for the building industry; waterproof deck coatings, fluid applied waterproofing membranes, epoxy flooring and concrete coatings.</p>
					</div>
				</div>
			</div>

			<div class="col-md-4 my-3 fade-up">
				<div class="card h-100 text-center">
					<div class="card-body">
						<img class="img-fluid py-3" src="{{ static('img/part_tremco.png') }}" width="220">
						<!-- <h5 class="card-title">Tremco, Inc.</h5> -->
						<hr class="short">
						<p class="card-text">Tremco provides a complete range of products in the industry with below-grade waterproofing systems, air barrier systems, deck coatings, high-performance sealants, comprehensive glazing systems, firestopping solutions and engineered transition assemblies.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- FOOTER -->
<footer class="bg-dark text-light py-5">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md">
				<img class="mb-2" src="{{ static('img/logo-crown.png') }}" alt="" width="40">
				<small class="d-block mb-3 text-muted">
					&copy; All Rights Reserved<br>
					<a href="#" target="blank">Terms of Use</a>
					and
					<a href="#" target="blank">Privacy Policy</a><br>
					Managed by <a href="https://raptoritconsultants.com" target="blank">Raptor IT Consultants</a>
				</small>
			</div>

			<div class="col-6 col-md">
				<h5>Our Services</h5>
				<ul class="list-unstyled text-small">
					<li><a class="text-muted" href="#">Floor Leveling</a></li>
					<li><a class="text-muted" href="#">Sound Control</a></li>
					<li><a class="text-muted" href="#">Concrete Topping</a></li>
					<li><a class="text-muted" href="#">Specialty Finishes</a></li>
					<!-- <li><a class="text-muted" href="#">Service</a></li> -->
				</ul>
			</div>

			<div class="col-12 col-md">
				<h5>Contact Us</h5>
				<ul class="list-unstyled text-small text-muted">
					<li>
						<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-telephone-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M2.267.98a1.636 1.636 0 0 1 2.448.152l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.47 17.47 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969z"/></svg>
						&nbsp;
						<a class="text-muted" href="#">(866) 497-2738</a>
					</li>
					<li>
						<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/></svg>
						&nbsp;
						<a class="text-muted" href="mailto:sales@ausdecking.com">sales@ausdecking.com</a>
					</li>
					<li>
						<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/></svg>
						&nbsp;
						<a class="text-muted" href="#">2999 Promenade St #100<br>West Sacramento, CA 95691</a>
					</li>
				</ul>

				<ul class="list-unstyled" style="display:flex;flex-direction:row">
					<li style="padding-right:10px">
						<a href="https://www.facebook.com/RaptorITNetwork/" target="blank">
							<svg width="1em" height="1em" viewBox="0 0 310 310" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M81.703,165.106h33.981V305c0,2.762,2.238,5,5,5h57.616c2.762,0,5-2.238,5-5V165.765h39.064 c2.54,0,4.677-1.906,4.967-4.429l5.933-51.502c0.163-1.417-0.286-2.836-1.234-3.899c-0.949-1.064-2.307-1.673-3.732-1.673h-44.996 V71.978c0-9.732,5.24-14.667,15.576-14.667c1.473,0,29.42,0,29.42,0c2.762,0,5-2.239,5-5V5.037c0-2.762-2.238-5-5-5h-40.545 C187.467,0.023,186.832,0,185.896,0c-7.035,0-31.488,1.381-50.804,19.151c-21.402,19.692-18.427,43.27-17.716,47.358v37.752H81.703 c-2.762,0-5,2.238-5,5v50.844C76.703,162.867,78.941,165.106,81.703,165.106z"/></svg>
						</a>
					</li>
					<li style="padding-right:10px">
						<a href="https://www.linkedin.com/company/raptor-it-consultants-llc" target="blank">
							<svg width="1em" height="1em" viewBox="0 0 310 310" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M72.16,99.73H9.927c-2.762,0-5,2.239-5,5v199.928c0,2.762,2.238,5,5,5H72.16c2.762,0,5-2.238,5-5V104.73 C77.16,101.969,74.922,99.73,72.16,99.73z"/><path d="M41.066,0.341C18.422,0.341,0,18.743,0,41.362C0,63.991,18.422,82.4,41.066,82.4 c22.626,0,41.033-18.41,41.033-41.038C82.1,18.743,63.692,0.341,41.066,0.341z"/><path d="M230.454,94.761c-24.995,0-43.472,10.745-54.679,22.954V104.73c0-2.761-2.238-5-5-5h-59.599 c-2.762,0-5,2.239-5,5v199.928c0,2.762,2.238,5,5,5h62.097c2.762,0,5-2.238,5-5v-98.918c0-33.333,9.054-46.319,32.29-46.319 c25.306,0,27.317,20.818,27.317,48.034v97.204c0,2.762,2.238,5,5,5H305c2.762,0,5-2.238,5-5V194.995 C310,145.43,300.549,94.761,230.454,94.761z"/></svg>
						</a>
					</li>
					<li style="padding-right:10px">
						<a href="https://g.page/Raptor-IT-Network" target="blank">
							<svg width="1em" height="1em" viewBox="0 0 210 210" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M0,105C0,47.103,47.103,0,105,0c23.383,0,45.515,7.523,64.004,21.756l-24.4,31.696C133.172,44.652,119.477,40,105,40 c-35.841,0-65,29.159-65,65s29.159,65,65,65c28.867,0,53.398-18.913,61.852-45H105V85h105v20c0,57.897-47.103,105-105,105 S0,162.897,0,105z"/></svg>
						</a>
					</li>
					<li style="padding-right:10px">
						<a href="https://www.yelp.com/biz/raptor-it-consultants-sacramento-10" target="blank">
							<svg width="1em" height="1em" viewBox="0 0 512 512" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M204.444,329.318c11.716-3.046,19.746-13.628,20.48-27c0.742-13.619-6.69-25.737-18.27-30.063l-23.142-9.429
							c-84.036-34.662-84.386-34.662-89.899-34.731c-9.079-0.469-17.493,4.284-22.869,12.723c-0.008,0.017-0.017,0.034-0.026,0.051
							c-10.325,16.469-12.39,60.911-9.865,85.402c1.178,10.709,3.098,18.458,5.828,23.612c4.582,8.764,12.783,14.174,21.768,14.473
							c0.589,0.034,1.118,0.068,1.673,0.068c4.864,0,12.117-2.295,81.655-24.653C195.287,332.27,202.199,330.06,204.444,329.318z"/><path d="M244.952,346.151c-12.638-4.881-26.436-1.621-34.202,7.996c-0.009,0-14.524,17.271-16,18.97
							c-0.068,0.077-0.137,0.154-0.205,0.239c-58.803,69.009-58.957,69.461-60.8,74.778c-1.34,3.601-1.809,7.441-1.391,10.889
							c0.495,5.188,2.654,10.129,6.46,14.737c13.645,16.299,70.639,38.093,96.998,38.093c2.065,0,3.942-0.137,5.598-0.418
							c9.822-1.818,17.271-7.774,20.429-16.341c0.009-0.051,0.026-0.094,0.043-0.137c1.809-5.163,1.911-5.478,2.125-86.69
							c0,0,0.179-32.41,0.222-34.159C264.972,361.93,257.402,350.947,244.952,346.151z"/><path d="M442.378,359.735c-4.403-3.294-4.574-3.413-81.792-28.757c0,0-29.517-9.754-32.333-10.761
							c-0.026-0.009-0.043-0.017-0.068-0.026c-11.358-4.412-24.124-0.546-32.495,9.779c-8.61,10.505-9.711,24.704-2.876,35.123
							l13.03,21.222c47.488,77.133,48.043,77.577,52.378,80.956c4.42,3.456,9.668,5.214,15.181,5.214c3.533,0,7.168-0.717,10.778-2.185
							c21.367-8.525,64.222-63.019,67.473-85.811C453.07,374.6,449.768,365.631,442.378,359.735z"/><path d="M316.123,294.06c0.572,0.128,1.161,0.179,1.749,0.179c1.015,0,2.039-0.179,3.029-0.555
							c3.738-1.417,11.546-3.32,23.962-6.263c0.009,0,0.017,0,0.034-0.009c87.834-21.274,88.431-21.658,93.235-24.772
							c7.467-5.035,11.443-13.534,10.957-23.322c0.008-0.503-0.017-1.135-0.051-1.502c-2.483-23.629-40.542-79.778-60.851-89.711
							c-9.028-4.309-18.611-3.84-26.163,1.237c-4.642,3.012-4.642,3.012-52.779,68.847c0,0-19.379,26.359-20.301,27.588
							c-7.723,9.421-8.021,22.716-0.759,33.877C294.721,289.648,305.516,295.118,316.123,294.06z"/><path d="M254.223,19.393c-2.526-9.207-9.702-15.932-19.712-18.458c-24.269-5.973-109.457,17.929-126.686,35.669
							c-6.835,7.142-9.549,16.495-7.27,24.994c0.137,0.512,0.324,0.998,0.546,1.476c2.398,4.984,80.461,127.863,104.269,165.291
							c9.984,16.213,20.941,24.354,32.572,24.354c2.765,0,5.555-0.461,8.38-1.374c14.942-4.506,21.948-18.603,20.813-41.899
							C265.862,180.101,255.836,28.404,254.223,19.393z"/></svg>
						</a>
					</li>
				</ul>
			</div>

		</div>
	</div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="{{ static('js/anime.min.js') }}"></script>
{% block js %}{% endblock %}
</body>
</html>