{% extends "base.html" %}

{% block title %}Sound Control Mats{% endblock %}

{% block body %}

<section id="sect-header" style="background: url('{{ static('img/banner-concrete.jpg') }}') center/cover">
	<div class="jumbotron opaque-overlay" style="padding-top:120px">
		<div class="container text-light my-5">
			<h1 class="">Gypsum Concrete</h1>
			<hr class="short ml-0">
		</div>
	</div>
</section>


<section id="sect-products" class="bg-white py-5">
	<div class="container">
		<h1 class="mb-4 text-center">Concrete Products</h1>
		<p class="text-center text-synopsis mb-3">Partnered with innovative manufacturers, AUS can offer mutually beneficial, packaged scopes of work to help residential and commercial customers transform their projects.</p>

		<div class="row">

			<div class="col-md-4 my-3">
				<div class="card h-100 text-center">
					<div class="card-body">
						<img class="img-fluid pt-3 w-100" src="{{ static('img/sound-control/acoustimat1-logo.png') }}">
						<img class="img-fluid pb-3" src="{{ static('img/sound-control/acoustimat1-graphic.gif') }}" width="200">
						<hr class="short">
						<p class="card-text">Acousti-Mat I maintains a low 1/8" profile and requires only a ¾" Maxxon underlayment pour depth, while increasing STC up to 12 points when compared to a bare wood frame system. Acousti-Mat I is always a "green" building material with 40% pre-consumer recycled content and is GREENGUARD Gold Certified.</p>
						<ul class="list-unstyled checklist text-left">
							<li>Low-profile</li>
							<li>40% recycled material</li>
							<li><i>GREENGUARD</i> Gold Certified</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-md-4 my-3">
				<div class="card h-100 text-center">
					<div class="card-body">
						<img class="img-fluid pt-3 w-100" src="{{ static('img/sound-control/acoustimat2-logo.png') }}">
						<img class="img-fluid pb-3" src="{{ static('img/sound-control/acoustimat2-graphic.gif') }}" width="200">
						<hr class="short">
						<p class="card-text">The low-profile sound control system. Increases IIC levels up to 10 points over wood frame, and up to 20 points over concrete. Increases STC rating 6-15 points over bare wood frame system. A breakthrough in sound control technology, Acousti‑Mat® II is the cost-effective solution to “noise” complaints, even with ceramic and wood floors</p>
						<ul class="list-unstyled checklist text-left">
							<li>Increased STC rating</li>
							<li>Suited for ceramic/wood floors</li>
							<li>Water-resistant</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-md-4 my-3">
				<div class="card h-100 text-center">
					<div class="card-body">
						<img class="img-fluid pt-3 w-100" src="{{ static('img/sound-control/acoustimat3-logo.png') }}">
						<img class="img-fluid pb-3" src="{{ static('img/sound-control/acoustimat3-graphic.gif') }}" width="200">
						<hr class="short">
						<p class="card-text">It’s a proven fact that the larger the air space, the greater the sound control – and this system creates the largest air void of any sound control mat. Acousti-Mat 3 increases IIC levels up to 17 points over wood frame, and up to 25 rating points (or more) over concrete. It also increases the STC rating 6-15 points over a bare wood frame system.</p>
						<ul class="list-unstyled checklist text-left">
							<li>3x thicker than Acousti‑Mat® II</li>
							<li>Powerful sound dampening</li>
							<li>Best for concrete slab/wood frame</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
		<div class="row">

			<div class="col-md-4 my-3">
				<div class="card h-100 text-center">
					<div class="card-body">
						<img class="img-fluid pt-3 w-100" src="{{ static('img/sound-control/acoustimat1-logo.png') }}">
						<hr class="short">
						<img class="img-fluid pb-5" src="{{ static('img/sound-control/acoustimat1-graphic.gif') }}" width="250">
						<ul class="list-unstyled checklist text-left">
							<li>Low-profile (1/8")</li>
							<li>40% recycled material</li>
							<li><i>GREENGUARD</i> Gold Certified</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-md-4 my-3">
				<div class="card h-100 text-center">
					<div class="card-body">
						<img class="img-fluid pt-3 w-100" src="{{ static('img/sound-control/acoustimat2-logo.png') }}">
						<hr class="short">
						<img class="img-fluid pb-5" src="{{ static('img/sound-control/acoustimat2-graphic.gif') }}" width="250">
						<ul class="list-unstyled checklist text-left">
							<li>Increased STC rating</li>
							<li>Suited for ceramic/wood floors</li>
							<li>Water-resistant</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-md-4 my-3">
				<div class="card h-100 text-center">
					<div class="card-body">
						<img class="img-fluid pt-3 w-100" src="{{ static('img/sound-control/acoustimat3-logo.png') }}">
						<hr class="short">
						<img class="img-fluid pb-5" src="{{ static('img/sound-control/acoustimat3-graphic.gif') }}" width="250">
						<ul class="list-unstyled checklist text-left">
							<li>3x thicker than Acousti‑Mat® II</li>
							<li>Powerful sound dampening</li>
							<li>Best for concrete slab/wood frame</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
		<div class="row">

			<div class="col-md-4 my-3">
				<div class="parallax-card" style="height:520px">
					<div class="front">
						<div class="parallax-card-body">
							<img class="img-fluid pt-3 w-100" src="{{ static('img/sound-control/acoustimat1-logo.png') }}">
							<hr class="short">
							<img class="img-fluid pb-5" src="{{ static('img/sound-control/acoustimat1-graphic.gif') }}" width="250">
							<ul class="list-unstyled checklist text-left">
								<li>Low-profile (1/8")</li>
								<li>40% recycled material</li>
								<li><i>GREENGUARD</i> Gold Certified</li>
							</ul>
						</div>
					</div>
					<div class="back">
						<div class="parallax-card-body">
							<h5 class="card-title">Acousti-Mat® I</h5>
							<p class="card-text">The new economical solution for both new floors and retrofit where floor height is a concern.  Acousti-Mat I maintains a low 1/8" (3 mm) profile and requires only a ¾" Maxxon underlayment pour depth, while increasing STC up to 12 points when compared to a bare wood frame system.  Acousti-Mat I is always a "green" building material with 40% pre-consumer recycled content and is GREENGUARD Gold Certified.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4 my-3">
				<div class="parallax-card" style="height:520px">
					<div class="front">
						<div class="parallax-card-body">
							<img class="img-fluid pt-3 w-100" src="{{ static('img/sound-control/acoustimat2-logo.png') }}">
							<hr class="short">
							<img class="img-fluid pb-5" src="{{ static('img/sound-control/acoustimat2-graphic.gif') }}" width="250">
							<ul class="list-unstyled checklist text-left">
								<li>Increased STC rating</li>
								<li>Suited for ceramic/wood floors</li>
								<li>Water-resistant</li>
							</ul>
						</div>
					</div>
					<div class="back">
						<div class="parallax-card-body">
							<h5 class="card-title">Acousti-Mat® I</h5>
							<p class="card-text">The new economical solution for both new floors and retrofit where floor height is a concern.  Acousti-Mat I maintains a low 1/8" (3 mm) profile and requires only a ¾" Maxxon underlayment pour depth, while increasing STC up to 12 points when compared to a bare wood frame system.  Acousti-Mat I is always a "green" building material with 40% pre-consumer recycled content and is GREENGUARD Gold Certified.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4 my-3">
				<div class="parallax-card" style="height:520px">
					<div class="front">
						<div class="parallax-card-body">
							<img class="img-fluid pt-3 w-100" src="{{ static('img/sound-control/acoustimat3-logo.png') }}">
							<hr class="short">
							<img class="img-fluid pb-5" src="{{ static('img/sound-control/acoustimat3-graphic.gif') }}" width="250">
							<ul class="list-unstyled checklist text-left">
								<li>3x thicker than Acousti‑Mat® II</li>
								<li>Powerful sound dampening</li>
								<li>Best for concrete slab/wood frame</li>
							</ul>
						</div>
					</div>
					<div class="back">
						<div class="parallax-card-body">
							<h5 class="card-title">Acousti-Mat® I</h5>
							<p class="card-text">Acousti-Mat® 3 is the sound deadening solution for floor systems that have been impossible to control! Now you can put an end to those “noise” complaints – even with open beam, concrete slab and conventional wood frame systems.<br>Acousti‑Mat 3 consists of fused, entangled filaments attached to a non-woven fabric, similar to Maxxon’s Acousti‑Mat II, only three times thicker. It’s a proven fact that the larger the air space, the greater the sound control – and this system creates the largest air void of any sound control mat. Acousti-Mat 3 increases IIC levels up to 17 points over wood frame, and up to 25 rating points (or more) over concrete. It also increases the STC rating 6-15 points over a bare wood frame system.</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>

{% endblock %}