{% extends "base.html" %}

{% block title %}Sound Control Mats{% endblock %}

{% block body %}

<section id="sect-header" style="background: url('{{ static('img/banner-sound.jpg') }}') center/cover">
	<div class="jumbotron opaque-overlay" style="padding-top:120px">
		<div class="container text-light my-5">
			<h1 class="">Sound Control Mats</h1>
			<hr class="short ml-0">
		</div>
	</div>
</section>


<section id="sect-products" class="bg-white py-5">
	<div class="container">
		<h1 class="mb-4 text-center">Sound Control Products</h1>
		<p class="text-center text-synopsis mb-3">Partnered with innovative manufacturers, AUS can offer mutually beneficial, packaged scopes of work to help residential and commercial customers transform their projects.</p>

		<div class="row">

			{% for p in products %}
			<div class="col-md-4 my-3">
				<div class="card h-100 text-center">
					<div class="card-body">
						<img class="img-fluid pt-3 w-100" src="{{ static(p.logo.url) }}">
						<img class="img-fluid pb-3" src="{{ static(p.graphic.url) }}" width="200">
						<hr class="short">
						<p class="card-text">{{ p.description }}</p>
						<ul class="list-unstyled checklist text-left">
							{% for d in p.details %}
							<li>{{ d }}</li>
							{% endfor %}
						</ul>
						<a class="d-block" href="{{ url('product', args=[p.slug]) }}">Learn More</a>
					</div>
				</div>
			</div>
			{% endfor %}

		</div>
		<div class="row">

			{% for p in products %}
			<div class="col-md-4 my-3">
				<div class="card h-100 text-center">
					<div class="card-body">
						<img class="img-fluid pt-3 w-100" src="{{ static(p.logo.url) }}">
						<hr class="short">
						<img class="img-fluid pb-5" src="{{ static(p.graphic.url) }}" width="250">
						<ul class="list-unstyled checklist text-left">
							{% for d in p.details %}
							<li>{{ d }}</li>
							{% endfor %}
						</ul>
						<a class="d-block" href="{{ url('product', args=[p.slug]) }}">Learn More</a>
					</div>
				</div>
			</div>
			{% endfor %}

			<!-- <div class="col-md-4 my-3">
				<div class="card h-100 text-center">
					<div class="card-body">
						<img class="img-fluid pt-3 w-100" src="{{ static('img/sound-control/acoustimat2-logo.png') }}">
						<hr class="short">
						<img class="img-fluid pb-5" src="{{ static('img/sound-control/acoustimat2-graphic.gif') }}" width="250">
						<ul class="list-unstyled checklist text-left">
							<li>Increased STC rating</li>
							<li>Suited for ceramic/wood floors</li>
							<li>Water-resistant</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-md-4 my-3">
				<div class="card h-100 text-center">
					<div class="card-body">
						<img class="img-fluid pt-3 w-100" src="{{ static('img/sound-control/acoustimat3-logo.png') }}">
						<hr class="short">
						<img class="img-fluid pb-5" src="{{ static('img/sound-control/acoustimat3-graphic.gif') }}" width="250">
						<ul class="list-unstyled checklist text-left">
							<li>3x thicker than Acousti‑Mat® II</li>
							<li>Powerful sound dampening</li>
							<li>Best for concrete slab/wood frame</li>
						</ul>
					</div>
				</div>
			</div> -->

		</div>
		<div class="row">

			{% for p in products %}
			<div class="col-md-4 my-3">
				<div class="parallax-card" style="height:520px">
					<div class="front">
						<div class="parallax-card-body">
							<img class="img-fluid pt-3 w-100" src="{{ static(p.logo.url) }}">
							<hr class="short">
							<img class="img-fluid pb-5" src="{{ static(p.graphic.url) }}" width="250">
							<ul class="list-unstyled checklist text-left">
								{% for d in p.details %}
							<li>{{ d }}</li>
							{% endfor %}
							</ul>
						</div>
					</div>
					<div class="back">
						<div class="parallax-card-body">
							<h5 class="card-title">{{ p.name }}</h5>
							<p class="card-text">{{ p.description }}</p>
							<a class="btn btn-primary" href="{{ url('product', args=[p.slug]) }}">Learn More</a>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}

		</div>
	</div>
</section>

{% endblock %}