{% extends "base.html" %}

{% block title %}Sound Control Mats{% endblock %}

{% block body %}

<section id="sect-header" style="background: url('{{ static('img/banner-concrete.jpg') }}') center/cover">
	<div class="jumbotron opaque-overlay" style="padding-top:120px">
		<div class="container text-light my-5">
			<h1 class="">Gypsum Concrete</h1>
			<hr class="short ml-0">
		</div>
	</div>
</section>


<section id="sect-products" class="bg-white py-5">
	<div class="container">
		
		<h2 class="mb-4 text-center">Gypsum Underlayments Products</h2>
		<div class="row">

			{% for p in products %}
			<div class="col-md-4 my-3">
				<div class="card h-100 text-center">
					<div class="card-body">
						<img class="img-fluid pt-3" src="{{ static(p.logo.url) }}" style="max-height: 80px;">
						<hr class="short">
						<p class="card-text">{{ p.description }}</p>
						<ul class="list-unstyled checklist text-left">
							{% for d in p.details %}
							<li>{{ d }}</li>
							{% endfor %}
						</ul>
						<a class="d-block" href="{{ url('product', args=[p.slug]) }}">Learn More</a>
					</div>
				</div>
			</div>
			{% endfor %}

		</div>
	</div>
</section>

{% endblock %}